:root {
  --primary-color: rgb(185, 177, 223);
}

body {
  background-color: var(--primary-color);
}

.stickman_parts {
  width: 170px;
  height: 359px;
  position: absolute;
  top: calc(31vh - (359px / 2));
  left: calc(27vw - (170px / 2));
}
.buttonParent {
  position: absolute;
  top: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.buttonContainer button {
  margin: 5px;
}
