html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --primary-color: #a31212;
  --secondary-color: white;
}

.hide {
  display: none;
}

.fit {
  object-fit: scale-down;
  flex-grow: 0;
  margin: 2px;
}

.gif-div {
  max-width: 300px;
  max-height: 300px;
}

body {
  background-image: url(./img/revenge-clouds.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

.modal {
  width: 100vw;
}

.modal-content {
  height: fit-content;
  background-image: linear-gradient(
    180deg,
    #000000 0%,
    #414141 60%,
    #ffffff 90%
  );
}

.modal-content img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.modal-content h1 {
  color: var(--primary-color);
}


h1, h2 {
  color: var(--secondary-color);
  font-family: "Road Rage", cursive;
  font-size: 72px;
}

p {
  font-family: "Special Elite", cursive;
  font-size: 18px;
  color: var(--secondary-color);
  text-align: center;
}


.hero {
  width: 100vw;
  margin: 0vw;
}

#hangman img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


#clue-insult {
  background-color: rgba(0,0,0,0.75);
}

.btn {
  padding: auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Road Rage", cursive;
  /* font-size: 36px; */
  text-transform: uppercase;
  text-align: center;
}

.btn-option {
  border-radius: 15px;
  padding: 5px;
  width: 150px;
  text-align: center;
  margin: 15px;
}

#letter-spaces {
  font-family: "Special Elite", cursive;
  font-size: 18px;
  color: var(--secondary-color);
}

.spaces {
  font-size: 72px;
  margin: 10px;
}

.letter-button {
  padding: auto;
  margin: 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.letter-button:disabled {
  background-color: gray;
}


#high-scores-btn, #play-again-btn, .word-btn {
  border-radius: 15px;
}

#clue-gif {
  height: 300px;
  width: auto;
}

@media screen and (max-width: 768px) {
  .modal-content img {
    width: 100px;
    height: 200px;
    object-fit: contain;
  }
  
  h1 {
    font-size: 48px;
  }
  .subtitle {
    font-size: 12px;
  }

  .btn-option {
    width: 80px;
    margin: 0px;
    padding: 0px;
  }

  #letter-buttons {
    margin: 0px;
  }

  .letter-button {
    width: 35px;
    height: 35px;
  }

 
  .spaces {
    font-size: 21px;
    margin: 5px;
  }
  
  p {
    font-size: 10px;
  }
}
